html, head, div, body, h1, h2, h3, h4, p, a, ul, ol, li {
	padding: 0;
	border: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
	font-family: "Futura", Helvetica, sans-serif;
	list-style-typet: none;

}
h1 {
	font-size: 70px;
	font-weight: bold;
	text-align: center;
}
h2 {
	font-size: 	32px;
	text-align: center;
}
h3 {
	font-size: 22px;
	text-align: center;
}
.header {
	background-color: #aaaaaa;
}
.core-skills {
	background-color: #dddddd;
}
.projects {
	background-color: #cccccc;
}
.experience {
	background-color: #dddddd;
}
.other-skills {
	background-color: #cccccc;
}