html, head, div, body, h1, h2, h3, h4, p, a, ul, ol, li {
	padding: 0;
	border: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
	font-family: "Futura", Helvetica, sans-serif;
	list-style-type: none;
}

body {
	background-color: #002b36;
}
h1 {
	font-size: 70px;
	font-weight: bold;
	text-align: center;
}
h2 {
	font-size: 	32px;
	text-align: center;
}
h3 {
	font-size: 22px;
	text-align: left;
}

.header-content, .core-skills-content, .other-skills-content {
	width: 640px;
	margin: 0 auto;
	padding: 10px 0;
}
.header {
	background-color: #909090;
	background-image: url(images/sample-bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	padding: 10px;
}
.header-content p {
	margin: 10px 0;
}

.core-skills, .other-skills {
	background-color: #073642;
	color: #93a1a1;
}
.core-skills h2, .other-skills h2 {
	margin-bottom: 4px;
}
.core-skills ul, .other-skills ul {
	text-align: center;
}
.core-skills li, .other-skills li {
	display: inline;
	background-color: #002b36;
	margin-right: 10px;
	padding: 4px 8px;
}

.projects {
	background-color: #073642;
}
.projects img {
	float: left;
}
.projects-content {
	width: 640px;
	margin: 0 auto;
	padding: 10px 0;
}

.experience {
	background-color: #909090;
}
.experience div {
	height: 100px;
	background-image: url(images/sample-bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}
.experience p {
	width: 640px;
	padding-top: 10px;
	margin: 0 auto;
}



















